streamlit
pandas
chromadb
langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langchain-groq==0.1.9
pyTigerGraph
requests
bert-score
evaluate
python-dotenv
tiktoken
sentence-transformers
langchain-huggingface
